body {
  /* background-color: #202020; */
  /* color: #B0B0B0; */
}
div {
  margin-bottom: 16px;
}
footer {
  margin-top: 3cm;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  margin-bottom: 0px;
}
.subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  margin-top: 0px;
}
.play:link, .play:visited {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.play:hover, .play:active {
  background-color: darkgreen;
}
.play-on-itch {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: #fa5c5c;
  color: #eeeeee;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.source {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: #202020;
  color: #eeeeee;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.coverimage {
  width: 250px;
  height: 200px;
  float: left;
  margin-right: 10px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.icon {
  width: 64px;
  height: 64px;
}

/*  * {
  border: 2px solid black;
} */
