body {
  /* background-color: #202020; */
  /* color: #B0B0B0; */
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  margin-bottom: 0px;
}
.subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  margin-top: 0px;
}
