body {
  background-color: #222222;
  color: #dddddd;
}
p {
  font-family: sans-serif;
}
a:link, a:visited {
  color: #ffffff;
}
a:hover, a:active {
  color: #dddddd;
}
footer {
  margin-top: 3cm;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin: 10px;
}
.subtitle {
  text-align: center;
  /* font-weight: bold; */
  font-size: 1.5em;
  margin-top: 0px;
}
.gamescontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gamecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #333333;
  margin: 5px;
  padding: 8px;
  flex: 1 0 auto;
}
.coverimage {
  width: 250px;
  height: 200px;
  vertical-align: middle;
  margin: auto;
}
.coverimage2 {
  width: 630px;
  height: 500px;
  vertical-align: middle;
  margin: auto;
}
.screenshot {
  width: 240px;
  height: 150px;
  vertical-align: middle;
  margin: auto;
}
.gamedescription {
  width: 310px;
  padding-left: 10px;
  margin: auto;
  flex: 1 0 auto;
}
.gamename {
  margin-top: 0px;
}
.play, .playonitch, .source {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.play {
  background-color: green;
}
.playonitch {
  background-color: #fa5c5c;
}
.source {
  background-color: #202020;
}
.linkicon {
  width: 64px;
  height: 64px;
  margin-left: 5px;
  margin-right: 5px;
}
.nobottommargin {
  margin-bottom: 0px;
}
* {
  /* border: 1px dashed white; */
}
